.app-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--tg-theme-bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
